nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #161722;
  height: 120px; /* en todos los dispositivos */
  width: 100%;
}
.enlace {
  position: absolute;
  margin-top: 5px;
  padding: 20px 50px;
}
.logo {
  height: 65px;
  border-radius: 50%;
}
nav ul {
  position: relative; /* para prefijar el dropdown */
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active,
li a:hover {
  transition: all 0.4s ease-in-out;
  background-color: #FFD2A4;
  color: #000;
  border-radius: 6px;
}
/* submenu */
nav ul li ul {
  position: absolute;
  background: #161722;
  top: 100%;
  display: flex;
  flex-direction: column;
  z-index: inherit;
  opacity: 0;
}

nav ul li a:active ~ ul, nav ul li a:focus-within ~ ul {
  opacity: 1;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-top: 15px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 992px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f5f2f0;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 40px;
    margin-right: unset; /* cuando hay position: relative en la definición anterior */
  }
  nav ul.sub-menu{
    margin-top: unset;
  }
  nav ul li {
    display: block;
    padding: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #000;
    font-size: 20px;
  }

  /* submenú */
  .sub-menu {
    position: absolute;
    top: 0;
    /* left: 0; */
    background-color: #f5f2f0;
  }

  
  li a:hover,
  li a.active {
    text-decoration: underline;
    background-color: unset;
    color: unset;
  }
  .fixed-body {
    overflow: hidden;
  }
  #check:checked ~ .menu {
    left: 0;
  }
  /* li a.active ~ ul {
    left: 0 !important;
  } */
}
